.quiz-inprogress div {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    width: 100%;
    gap: 10px;
}

.quiz-options{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;          
    max-width: 700px;      
    min-height: 60px;
    color: white;
    background-color: #615FFF;
    font-weight: 600;
    font-size: larger;
    border-radius: 10px;
}

.quiz-options:hover{
    transform: scale(1.05);
    transition-duration: 0.5ms;
}


.quiz-options:not(:disabled):hover {
    transform: scale(1.03);
}

.quiz-options.selected {
    background-color: #5fee98; 
    border-color: #ffffff;
    transform: scale(1.05);
    opacity: 1;
    z-index: 2;
}

.quiz-options.dimmed {
    opacity: 0.3; 
    filter: grayscale(80%);
}

.button-next{
    color: #fff;
    width: 250px;
    margin: 10px;
    font-size: x-large;
    font-weight: 700;
    border-radius: 10px;
    background-color: #615FFF;
}

.button-next:hover{
    transform: scale(1.05);
    transition-duration: 0.5ms;
}

.button-next:disabled{
    opacity: 0.3; 
    filter: grayscale(80%);
}

.finishedQuiz{
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}


.score-text{
    display: flex;
    justify-content: center;
    font-size:xx-large;
    font-weight: 600;
}

.restart-quiz-button{
    background-color: #615FFF;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    width: 250px;
}

.quiz-inprogress{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh; 
    width: 100%;
}

.cutie-quiz{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 25px;
    padding: 40px;
    width: 90%;
    max-width: 850px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}